In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **Difference between matplotlib and seaborn**
### <p> -Simply matplotlib is used to make graphs and charts whereas seaborn is built on top of matplotlib to create its visualisations using matplotlib.
### -Sns provides higher level interface for creating visualisation.

In [6]:
df= pd.read_csv(r'C:\Users\Admin\Desktop\violence_data.csv')

## **You may wonder why r' ?**</br>
### <p >It is to specify string literal. If we haven't used r' we had to use '\\' (double slash). We are trying to avoid confusion with escape special character which also use backslashes.</p>

In [7]:
print(df.head())

   RecordID      Country Gender Demographics Question  \
0         1  Afghanistan      F        Marital status
1         1  Afghanistan      F             Education
2         1  Afghanistan      F             Education
3         1  Afghanistan      F             Education
4         1  Afghanistan      F        Marital status

          Demographics Response                   Question Survey Year  Value
0                 Never married  ... if she burns the food  01/01/2015    NaN
1                        Higher  ... if she burns the food  01/01/2015   10.1
2                     Secondary  ... if she burns the food  01/01/2015   13.7
3                       Primary  ... if she burns the food  01/01/2015   13.8
4  Widowed, divorced, separated  ... if she burns the food  01/01/2015   13.8

In [8]:
print(df.dtypes)

RecordID                   int64
Country                   object
Gender                    object
Demographics Question     object
Demographics Response     object
Question                  object
Survey Year               object
Value                    float64
dtype: object

Since the data type of survey year is in string format. If we want to do date-time specific operations like resampling,time-based slicing and more then it's important to covert that data to datetime format.

In [10]:
df['Survey Year']= pd.to_datetime(df['Survey Year'])

In [12]:
df['Survey Year']

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-01
           ...
12595   2015-01-01
12596   2015-01-01
12597   2015-01-01
12598   2015-01-01
12599   2015-01-01
Name: Survey Year, Length: 12600, dtype: datetime64[ns]

To check for missing values. We see missing values for each column using isnull() method. i.e.
Why .sum() ?
Because sum() will treat true and false boolean value as o and 1. It sums up and returns the count of missing values in each column.

In [13]:
df.isnull().sum()

RecordID                    0
Country                     0
Gender                      0
Demographics Question       0
Demographics Response       0
Question                    0
Survey Year                 0
Value                    1413
dtype: int64

Check for duplicates

In [14]:
df.duplicated().sum()

0