In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **Difference between matplotlib and seaborn**
### <p> -Simply matplotlib is used to make graphs and charts whereas seaborn is built on top of matplotlib to create its visualisations using matplotlib.
### -Sns provides higher level interface for creating visualisation.

In [6]:
df= pd.read_csv(r'C:\Users\Admin\Desktop\violence_data.csv')

## **You may wonder why r' ?**</br>
### <p >It is to specify string literal. If we haven't used r' we had to use '\\' (double slash). We are trying to avoid confusion with escape special character which also use backslashes.</p>

In [7]:
print(df.head())

   RecordID      Country Gender Demographics Question  \
0         1  Afghanistan      F        Marital status
1         1  Afghanistan      F             Education
2         1  Afghanistan      F             Education
3         1  Afghanistan      F             Education
4         1  Afghanistan      F        Marital status

          Demographics Response                   Question Survey Year  Value
0                 Never married  ... if she burns the food  01/01/2015    NaN
1                        Higher  ... if she burns the food  01/01/2015   10.1
2                     Secondary  ... if she burns the food  01/01/2015   13.7
3                       Primary  ... if she burns the food  01/01/2015   13.8
4  Widowed, divorced, separated  ... if she burns the food  01/01/2015   13.8

In [8]:
print(df.dtypes)

RecordID                   int64
Country                   object
Gender                    object
Demographics Question     object
Demographics Response     object
Question                  object
Survey Year               object
Value                    float64
dtype: object

Since the data type of survey year is in string format. If we want to do date-time specific operations like resampling,time-based slicing and more then it's important to covert that data to datetime format.

In [12]:
df['Survey Year']= pd.to_datetime(df['Survey Year'])

In [10]:
df['Survey Year']

0        01/01/2015
1        01/01/2015
2        01/01/2015
3        01/01/2015
4        01/01/2015
            ...
12595    01/01/2015
12596    01/01/2015
12597    01/01/2015
12598    01/01/2015
12599    01/01/2015
Name: Survey Year, Length: 12600, dtype: object

To check for missing values. We see missing values for each column using isnull() method. i.e.
Why .sum() ?
Because sum() will treat true and false boolean value as o and 1. It sums up and returns the count of missing values in each column.

In [11]:
df.isnull().sum()

RecordID                    0
Country                     0
Gender                      0
Demographics Question       0
Demographics Response       0
Question                    0
Survey Year                 0
Value                    1413
dtype: int64

Check for duplicates

In [14]:
df.duplicated().sum()

0

In [15]:
df['year'] = df['Survey Year'].dt.year
df['month'] = df['Survey Year'].dt.month
df['day'] = df['Survey Year'].dt.day
df.head()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value,year,month,day
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,2015-01-01,NaN,2015,1,1
1,1,Afghanistan,F,Education,Higher,... if she burns the food,2015-01-01,10.1,2015,1,1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,2015-01-01,13.7,2015,1,1
3,1,Afghanistan,F,Education,Primary,... if she burns the food,2015-01-01,13.8,2015,1,1
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,2015-01-01,13.8,2015,1,1

We split year,month and day for easierness using .dt attribute.

In [16]:
df["year"].value_counts()

2013    1980
2015    1800
2014    1620
2016    1440
2017    1260
2012    1080
2011     720
2008     540
2006     360
2018     360
2010     180
2002     180
2009     180
2005     180
2003     180
2001     180
2000     180
2007     180
Name: year, dtype: int64

In [18]:
df= df.rename(columns={'Survey year': 'survey','Demographics Question': 'demoQ','Demographics Response': 'demoR'})

In [ ]:
df=